<mtapp:setting id="blog_config_index_template_ids" label="<__trans phrase='Index Template IDs'>" hint="<__trans phrase="Please input Index Template Ids">" show_hint=1>
    <input type="text" name="blog_config_index_template_ids" id="blog_config_index_template_ids" value="<mt:GetVar name="blog_config_index_template_ids">" />
</mtapp:setting>
